In [1]:
# This code cell imports all the packages needed to train and save the model 
%clear
%cls
import pandas as pd
import numpy as np 
import pyKriging 
from pyKriging.krige import kriging 
import pickle

In [3]:
# Import the dataset
Ranzi_input_output = r'C:\Users\olumideo\Desktop\Research\New train\Ranzi_cleaned_data.xlsx'
df = pd.read_excel(Ranzi_input_output)

# specify the headers
headers = df.keys().values.tolist()
products = headers[5:]

In [4]:
df.head()

,CELL,HCE,LIGC,LIGH,LIGO,CELL1,HCE1,LIGC1,LIGH1,LIGO1,...,CH3CHO,ETOH,CH3OH,CO,CO2,CH4,CH2O,H2,C2H4,H2O
0,0.364475,0.356950,0.092858,0.092858,0.092858,1.000000e-60,1.000000e-60,1.000000e-60,3.632090e-88,6.809607e-66,...,0.326029,1.214532,3.321677,5.143549,9.956236,2.727816,4.257264,0.000088,2.694485,2.719399
1,0.350948,0.312917,0.112045,0.112045,0.112045,1.000000e-60,1.000000e-60,1.218410e-55,1.000000e-60,1.000000e-60,...,0.358351,1.074021,3.463426,5.610630,9.117925,2.711401,3.794495,0.000089,2.774766,3.061466
2,0.207556,0.274558,0.172628,0.172628,0.172628,1.000000e-60,1.000000e-60,3.915756e-37,2.757070e-53,9.459922e-38,...,0.401085,0.943523,4.346482,7.382222,8.743006,3.101551,3.424718,0.000105,3.408840,4.132641
3,0.382659,0.251898,0.121814,0.121814,0.121814,4.139670e-95,5.274131e-115,1.000000e-60,1.422112e-89,1.800680e-66,...,0.386510,0.856535,3.331984,5.548165,7.652867,2.486089,3.072618,0.000083,2.637162,3.196708
4,0.395794,0.353382,0.083608,0.083608,0.083608,1.000000e-60,5.152022e-109,3.500175e-65,1.000000e-60,8.680001e-65,...,0.312751,1.218906,3.164988,4.929319,9.875280,2.648371,4.247347,0.000085,2.578371,2.538817

In [5]:
np.shape(df)

(400, 41)

In [6]:
# Now,we are going to train a model using the cleaned data.
count = 5
for name in (products):
    x = df.iloc[1:400,0:5] 
    y = df.iloc[1:400,count]

    model_name = 'model'+ name + '.sav'     #name for model to be pickled

# train and save the model. 
    test=kriging(x.values,y.values)
    test.train()
    pickle.dump(test,open(model_name,'wb'))
    print(model_name,"", count-4, " trained")
    count = count + 1       #changes the y value to the next product

modelCELL1.sav  1  trained
modelHCE1.sav  2  trained
modelLIGC1.sav  3  trained
modelLIGH1.sav  4  trained
modelLIGO1.sav  5  trained
modelCELLA.sav  6  trained
modelHCEA1.sav  7  trained
modelHCEA2.sav  8  trained
modelLIG.sav  9  trained
modelLIGCC.sav  10  trained
modelLIGOH.sav  11  trained
modelGCO2.sav  12  trained
modelGCO.sav  13  trained
modelGCOH2.sav  14  trained
modelGH2.sav  15  trained
modelChar.sav  16  trained
modelHAA.sav  17  trained
modelGLYOX.sav  18  trained
modelC3H6O.sav  19  trained
modelC3H4O2.sav  20  trained
modelHMFU.sav  21  trained
modelLVG.sav  22  trained
modelXYL.sav  23  trained
modelpCOUMARYL.sav  24  trained
modelPHENOL.sav  25  trained
modelFE2MACR.sav  26  trained
modelCH3CHO.sav  27  trained
modelETOH.sav  28  trained
modelCH3OH.sav  29  trained
modelCO.sav  30  trained
modelCO2.sav  31  trained
modelCH4.sav  32  trained
modelCH2O.sav  33  trained
modelH2.sav  34  trained
modelC2H4.sav  35  trained
modelH2O.sav  36  trained